.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6fcd2;
  padding: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  a {
    color: #5a6f08;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
    p {
      margin: 0;
    }
  }
}
.navigation {
  margin-right: 1rem;
  a {
    color: #5a6f08;
    font-weight: 600;
    padding: 2rem;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
  }
}

.activeLink {
  color: #8f927a !important;
  text-decoration: underline;
}
