body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: underline;
}

// Fonts
@font-face {
  font-family: "Roboto";
  src: url("../fonts/MiConv.com__Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/MiConv.com__Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/MiConv.com__Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/MiConv.com__Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/MiConv.com__Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/MiConv.com__Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/MiConv.com__DMSerifDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
}
